// Document
  $tablet-width: 768px;
  $desktop-width: 1024px;

// Base Palette
  $site-base-light-color: #FFFFFF; // Main BG Color
  $site-base-primary-color: #696969; // Main Font Color
  $site-base-secondary-color: #FFFFFF; // Alt Base Color
  $site-base-tertiary-color: #F19D38; // Hightlights

  $standard-text: 16px; // Overall font size
  $standard-text: 18px; // Overall font size

// Video Element
  $max-video-width: 1080px;
